# MyScaleDB Config
MYSCALE_HOST=127.0.0.1
MYSCALE_PORT=8123
MYSCALE_USER=default
MYSCALE_DATABASE=default
MYSCALE_PASSWORD=""
MYSCALE_SECURE=false
MYSCALE_VERIFY=false

# Pgvector Config
PGVECTOR_ENABLED=False
PGVECTOR_HOST=localhost
PGVECTOR_PORT=5432
PGVECTOR_USER=postgres
PGVECTOR_PASSWORD=postgres
PGVECTOR_DATABASE=vectordb
PGVECTOR_SSLMODE=disable

# CHDB Config
CHDB_ENABLED=False
CHDB_DATA_PATH=:memory:

# Mcp Config
MCP_SERVER_TRANSPORT=http
MCP_BIND_HOST=0.0.0.0
MCP_BIND_PORT=4200

# TextToVectorSql Config
TEXT2VECSQL_ENABLED=False
TEXT2VEC_SQL_API=""
TEXT2VEC_SQL_URL=""
